<DModalBody
  @title={{theme-prefix "discourse_table_builder.edit.modal.title"}}
  @class="table-editor-modal"
>
  {{! TODO: Parse .md to json and fill table }}
  {{! TODO: Fix instances where multiple tables in a single post }}

  {{! TODO better id name }}
  <div class="table-spreadsheet-container" id="table-editor-spreadsheet"></div>

</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary btn-edit-table"
    @label={{theme-prefix "discourse_table_builder.edit.modal.create"}}
    @icon="pencil-alt"
    @action={{action "editTable"}}
  />

  <DButton
    @class="btn-flat"
    @label={{theme-prefix "discourse_table_builder.edit.modal.cancel"}}
    @action={{action "cancelTableEdit"}}
  />
</div>