<div class="body-row">
  <TextField
    @value={{bodyRowValue}}
    @class="table-builder-input"
    @placeholderKey={{theme-prefix "discourse_table_builder.modal.body"}}
    {{on "change" this.addBodyValue}}
  />
  <DButton
    @icon="plus"
    @title={{theme-prefix "discourse_table_builder.modal.buttons.add_row"}}
    @action={{action "addRow"}}
  />
  <DButton
    @icon="trash-alt"
    @class="btn-danger"
    @title={{theme-prefix "discourse_table_builder.modal.buttons.remove_row"}}
    @action={{action "removeRow"}}
    @disabled={{this.disableRemoveRow}}
  />
</div>
