<DModalBody
  @title={{theme-prefix "discourse_table_builder.edit.modal.title"}}
  @class="table-editor-modal"
>
  {{! TODO: Parse .md to json and fill table }}
  <div id="spreadsheet" tabindex="1" class="jexcel_container"></div>

</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-edit-table"
    @label={{theme-prefix "discourse_table_builder.edit.modal.create"}}
    @icon="pencil-alt"
    @action={{action "editTable"}}
  />

  <DButton
    @class="btn-flat"
    @label={{theme-prefix "discourse_table_builder.edit.modal.cancel"}}
    @action={{action "cancelTableEdit"}}
  />
</div>